<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-gray-100 min-h-screen">
    <div class="p-6 rounded-lg shadow-md w-full">
        <div class="mt-4 bg-white p-6 rounded-lg shadow-md w-full">
            <h2 class="text-lg font-bold mb-4">Avaliable Sports:</h2>
            <ul class="sports-list grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                <% sports.forEach(sport => { %>
                    <li class="bg-gray-100 p-4 rounded-lg shadow-md flex flex-col items-center" data-sport="<%= sport %>">
                        <h1 class="text-xl font-semibold mb-2"><%= sport %></h1>
                        
                        <button type="submit" onclick="openSessionForm()"
                            class="mt-auto w-full bg-green-500 text-white p-2 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
                            Create Session
                        </button>
                    </li>
                <% }) %>
            </ul>
        </div>
        <%- include('createSessions') %>
        <br>
        <%- include('availableSessions') %>
        <%- include('updateSessionForm') %>
    </div>
</body>
</html>
